.visualisationBackgroundWithPadding {
  background-color: var(--visualisation-background);
}

.visualisationBackground {
  position: relative;
  transform-origin: 0 0;
  transition: transform 0.1s ease-in;
}

.visualisationForeground {
  position: absolute;
}

.scrollableBox {
  height: 100%;
  overflow: scroll;
  background-color: var(--visualisation-background);
}

.visualisationBox {
  width: 90vw;
  height: 90vh;
  margin: 20px auto;
  user-select: none;
  position: relative;
}

.connections {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.semesterTitles {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  padding-top: 100px;
  margin-bottom: 0;
  color: var(--text-primary);
}

.semesterSubtitles {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  color: var(--text-primary);
}

.semesterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.bigTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: var(--text-primary);
}

.bigSubTitle {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
  color: var(--text-primary);
}

.zoomButton {
   font-family: "Inter", sans-serif;
   font-weight: 500;
   border: 2px solid var(--background-secondary);
   border-radius: 5px;
}
