.big-button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  padding: 20px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 0) 70%
  ), var(--button-color, #a000a0);
  background-size: 200% 100%;
  transform: translate(0px, 0px);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  animation: shine-reverse 0.5s cubic-bezier(0.40,0.00,0.20,1.00) 1;
}

.big-button:hover {
  animation: shine 0.5s cubic-bezier(0.40,0.00,0.20,1.00) 1;
  transform: translate(0px, -10px);
  box-shadow: var(--glow-color, #a000a033) 0px 0px 10px 5px;
}

@keyframes shine {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes shine-reverse {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}