.subject {
  background-color: rgb(73, 73, 73);
  padding: 16px;
  width: 300px;
  border: 3px solid transparent;
  border-radius: 16px; /* funguje správně */
  background: 
    linear-gradient(white, white) padding-box,              /* vnitřek */
    linear-gradient(0deg, #00DCF5, #009CFD) border-box; /* gradient border */
}

.subjectCode {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #817F7F;
  font-size: 20px;
  margin: 0;
}

.subjectName {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0px;
}

.subjectCredits {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin: 10px 0px;
}

.subjectInfo {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

.iconContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 10px;
}

.bottomSubjectLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}